<h2>Login form:</h2>
<form action="/login" method="POST">
    <div>
        <label>Name:</label>
        <input type="text" required/>
    </div>
    <div>
        <label>Pass:</label>
        <input type="password" required/>
    </div>
    <input type="submit"/>
</form>
