<h2>Register form:</h2>
<form action="/login" method="POST">
    <div>
        <label>Email:</label>
        <input type="email" required/>
    </div>
    <div>
        <label>Name:</label>
        <input type="text" required/>
    </div>
    <div>
        <label>Pass:</label>
        <input type="password" required/>
    </div>
    <input type="submit"/>
</form>
<a href="/login">Login</a>

